[#]*
*~
.DS_Store

/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
/test-driver
Makefile.in

Makefile
Doxyfile
.deps
.libs
*.o
*.la
*.lo

/config.h
/config.log
/config.status
/datrie-0.2.pc
/stamp-h1
/libtool
/tools/trietool
/doc/html
/doc/doxygen.stamp
